# Virtual Environment

.venv/

venv/



# Python cache

__pycache__/

*.pyc



# Jupyter

.ipynb_checkpoints/




# Streamlit

.streamlit/



# VS Code

.vscode/



# OS files

.DS_Store

Thumbs.db
git status

# Project documents
*.pdf